a{
  text-decoration: none;
}
.menuspace{
  padding-top:90px;
}
.btnCep{
  height: 56px !important;
  margin-left: 10px;
}
.inputsform{
  margin: 10px 10px 0px 10px !important;
}
.btnFinal{
  background-color: black !important;
  width: 200px;
  margin-top: 10px;
}
.titlesform{
  margin-bottom: 20px;
  font-weight: bold;
}
.titleSacola{
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}
.titlePagamento{
  margin-top: 20px;
  margin-bottom: 20px;
}
.sacola{
  background-color: rgb(227, 227, 227);
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: max-content;
}
.titleFinal{
  margin-left: 10px;
  font-weight: bold;
}
.imgSacola{
  height: 250px !important;
  padding-right: 40px !important;
}
.qntSacola{
  display: flex !important;
  flex-direction: column!important;
  flex-wrap: nowrap!important;
  justify-content: center!important;
  align-items: center!important;
  align-content: center!important;
  & > span{
    font-weight: bold;
  }
}
.sacolatitle{
  margin-bottom: 20px;
  font-size: 16px;
  word-break:break-all;
  width: 200px;
  overflow-wrap: break-word;
  margin-top: 10px;
}
.sacolaprice{
  font-size: 20px;
  margin-bottom: 120px;
}
.btnsSacola{
  display: flex;
}
.qntInputSacola{
  width: 60px;
  height: 50px;
  border-style:solid; font-size:17px; padding:8px; text-align:center; border-radius:5px; border-width:3px; border-color:#000000; box-shadow: 1px 0px 7px 0px rgba(42,42,42,.51);
  &:focus { outline:none; } 
  margin-bottom: 10px;
}

.BtnsSacola{
  margin-top: 20px;
  height: 50px !important;
}

.hr-4 {
  background: linear-gradient(90deg,#efb758 3.88%,#ffdb9e 8.35%,#c94e36 13.37%,#ed8c9d 29.61%,#719fda 51.56%,#5a40a1 61.22%,#5a40a1 80.62%,#e94e3a 96.87%);
  height: 7px;
  margin-left: 10%;
  width: 80%;
}